@model IEnumerable<Sistema_Inventario_Manitos_Maravillosas.Models.Admin.Client>

@{
    ViewData["Title"] = "Clientes";
}


<section class="container px-5 py-3">

    <h3 style="margin-bottom: 2rem;">Clientes</h3>

    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex align-items-center">
               
                <div class="input-group search-input">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>

                <div class="dropdown ms-auto">
                    <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Nombre
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item custom-dropdown-item" data-id="0" href="#">Identificacicón</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" data-id="0" href="#">Nombre</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" data-id="0" href="#">Apellido 1</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" data-id="0" href="#">Apellido 2</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body">
            <table class="table" style="margin-top: 1rem;" aria-label="Tabla de solicitudes de los solicitantes">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido 1</th>
                        <th scope="col">Apellido 2</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Número</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fernanda </td>
                        <td>Murillo</td>
                        <td>Mena</td>
                        <td>901150359</td>
                        <td>85986048</td>
                        <td>murillomf2001gmail.com</td>
                        <td>
                            <button class="icon-button bi bi-pencil-square" aria-label="Modificar" data-id="0" style="cursor: pointer;">
                            </button>
                            <button class="icon-button bi bi-trash-fill" aria-label="Eliminar" data-id="1" style="cursor: pointer;">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Fernanda </td>
                        <td>Murillo</td>
                        <td>Mena</td>
                        <td>901150359</td>
                        <td>85986048</td>
                        <td>murillomf2001gmail.com</td>
                        <td>
                            <button class="icon-button bi bi-pencil-square" aria-label="Modificar" data-id="0" style="cursor: pointer;">
                            </button>
                            <button class="icon-button bi bi-trash-fill" aria-label="Eliminar" data-id="1" style="cursor: pointer;">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Fernanda </td>
                        <td>Murillo</td>
                        <td>Mena</td>
                        <td>901150359</td>
                        <td>85986048</td>
                        <td>murillomf2001gmail.com</td>
                        <td>
                            <button class="icon-button bi bi-pencil-square" aria-label="Modificar" data-id="0" style="cursor: pointer;">
                            </button>
                            <button class="icon-button bi bi-trash-fill" aria-label="Eliminar" data-id="1" style="cursor: pointer;">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary px-5 py-1 mt-2">Agregar <i class="bi bi-plus-circle"></i></button>
            

        </div>
    </div>

</section>
