@model Sistema_Inventario_Manitos_Maravillosas.Models.Admin.Client

@{
    ViewData["Title"] = "ModificarCliente";
}
@section Scripts {
    <script src="@Url.Content("~/js/Client.js")"></script>
}

<section class="container px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Modificar Cliente</h3>

    <div class="card">
        <div class="card-body">
            <form asp-controller="Client" asp-action="Edit" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Identificación</label>
                            <input type="text" class="form-control" asp-for="Id" aria-label="Nombre">
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Primer Apellido</label>
                            <input type="text" class="form-control" asp-for="LastName1" aria-label="Primer Apellido">
                            <span asp-validation-for="LastName1" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo</label>
                            <input type="text" class="form-control" asp-for="Email" aria-label="Correo">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" asp-for="Name" aria-label="Nombre">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Segundo Apellido</label>
                            <input type="text" class="form-control" asp-for="LastName2" aria-label="Segundo Apellido">
                            <span asp-validation-for="LastName2" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Número de Contacto</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" aria-label="Número de Contacto">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary px-5 py-1 mt-2">
                        Modificar <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>