@model Sistema_Inventario_Manitos_Maravillosas.Areas.AdminPayment.Models.TypePaymentxCoin


@{
    ViewData["Title"] = "Modificar Tipo de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Action"] = "Edit";
}

<section class="container px-5 py-3">
    <div class="d-flex justify-content-between mb-2 align-items-center">
        <h3 class="m-0">Modificar Tipo de Pago</h3>
        <a class="fs-1 px-1" asp-area="AdminPayment" asp-controller="TypePayment" asp-action="Index">
            <i class="bi bi-arrow-left-short"></i>
        </a>
    </div>

    <partial name="_TypePaymentForm" model="Model" view-data="ViewData">

    </partial>
</section>

@section Scripts {
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (ViewData["Success"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Swal.fire({
                    title: "Perfecto!",
                    text: "@ViewData["Success"]",
                    icon: "success"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/AdminPayment/TypePayment/Index';
                    }
                });
            });
        </script>
    }

    @if (ViewData["ErrorMessage"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Swal.fire({
                    title: 'Error',
                    text: '@ViewData["ErrorMessage"]',
                    icon: 'error'
                });
            });
        </script>

        ViewData["ErrorMessage"] = null;
    }
}

