:root {
    --colorMain: #0d6efd;
    --colorMainRGB: 13, 110, 253;
    --colorMainTrans: rgba(13, 110, 253, 0.1);
    --colorDisable: #ACB4BC;
    --greyColor: #F1F1F1;
    --whiteContranst: #F6F6F6;
    --greyFooterRGB: 241, 241, 241;
    --textGrey: #495057;
    --textGreyRGB: 73, 80, 87;
    --textcolor: #00A88F;
    --textcolorRGB: 0, 163, 143;
    --textBlack: #000000;
    --textBlackRGB: 0, 0, 0;
    --gradientMaincolor: linear-gradient(to right, #00A38B, #16c1b5);
    --gradientMaincolorTrans: linear-gradient(to right, rgba(0, 163, 139, 0.6), rgba(22, 193, 181, 0.6));
    --white: #FFFFFF;
    --font-primary: 'Roboto', sans-serif;
    --topBarMaxHeight: 60px;
}


html {
    font-size: 14px;
    height: 100%;
    margin: 0;
    font-family: var(--font-primary);
    min-height: 100vh;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* This secction is for color backgrounds*/

.bg-colorMain {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--colorMainRGB), var(--bs-bg-opacity));
}

.bg-gradient {
    background: var(--gradientMaincolor) !important;
    color: white;
}



/* This secction is for color backgrounds with transparency*/

.bg-colorMainTrans {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--colorMainRGB), var(--bs-bg-opacity));
}

.bg-grayContrast {
    background-color: var(--whiteContranst);
}

.bg-grey {
    background-color: var(--greyColor);
}

/* This secction is for color for texts*/

.txt-Grey {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--textGreyRGB), var(--bs-bg-opacity));
}

.txt-color {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--textGreyRGB), var(--bs-bg-opacity));
}

/* This secction set the color of boostrap valriables*/
/*.text-primary {
    color: var(--colorMain) !important;
}

.btn-primary {
    color: var(--colorMain);
    border-color: var(--colorMain);
}

.btn-outline-primary {
    color: var(--colorMain);
    border-color: var(--colorMain);
}

    .btn-outline-primary:hover {
        color: var(--colorMain);
        background-color: var(--colorMainTrans);
        border-color: var(--colorMain);
    }

.active {
    background-color: var(--colorMain) !important;
    border: 0px;
}

.list-group-item:hover {
    background-color: var(--colorMainTrans);
}

.disable {
    background-color: var(--colorDisable) !important;
}*/


/*------------------------------------------------------- Layout modifications -----------------------------------*/

.page {
    height: calc(100% - var(--topBarMaxHeight));
    overflow: hidden;
}

.content-page {
    overflow-y: auto;

    /* Scrollable content */
}


/*-----------------------------------------------------Top Bar*/
.topBarContainer {
    max-height: var(--topBarMaxHeight);
    height: var(--topBarMaxHeight);
}

.topBar {
    height: 100%;
    font-weight: 200;
}

#mainIcon {
    text-decoration: none;
    color: black;
}

#myIcon {
    width: 50px;
    height: 50px;
}

/*-----------------------------------------------------Side Bar*/
.sideBarContainer {
    padding: 1rem;
}

.sideBar {
    border-radius: 10px;
    height: 100%;
}

/*each item li*/
.inline-nav-item {
    list-style-type: none;
    width: 234px;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.inline-nav-item i {
    padding: 0px 10px;
}

.inline-nav-item:hover {
    --bs-bg-opacity: 0.05;
    background-color: rgba(var(--colorMainRGB), var(--bs-bg-opacity));
    border-right-width: 3px;
    border-right-style: solid;
    border-color: var(--colorMain);
}

.inline-active {
    width: 234px;
    align-items: center;
    padding: 8px 24px 8px 30px;
    position: relative;
    flex: 0 0 auto;
    border-right-width: 3px;
    border-right-style: solid;
    border-color: var(--colorMain);
}

/*each Item a*/
.aside-link {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    color: var(--textBlack);
}

.aside-link:hover {
    color: var(--textBlack);
}


.arrowCollapse {
    /* Add a transition effect for transform property */
    transition: transform 0.3s ease;
    font-size: .75rem;
}

.collapsed .arrowCollapse {
    /* Rotate the arrow 180 degrees when the parent is collapsed */
    transform: rotate(180deg);
}


/*------------------ Sub Menu side Bar*/
.subMenuCollapse {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
    /* Initially menu is collapsed */
}


.subMenuNavItem:hover {
    color: var(--textGrey) !important;
}

.collapsed .subMenuCollapse {
    max-height: 100px;
}

/*each element li*/
.subMenuNavItem {
    display: block;
    padding: .1rem 1rem;
    text-decoration: none;
    color: var(--textBlack);
}


/*each elemnt a*/
.aside-linkSubItem {
    display: block;
    padding: 0.2rem 1rem;
    text-decoration: none;
    color: var(--textGrey);
}

/*------- Dropdown-------*/

.custom-dropdown-button {
    background-color: transparent;
    color: var(--colorMain);
    border: 1px solid var(--colorMain);
}

.custom-dropdown-button:hover,
.custom-dropdown-button:focus,
.custom-dropdown-button:active {
    color: #fff;
    background-color: var(--colorMain);
}

.custom-dropdown-item {
    color: var(--colorMain);
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus {
    color: #fff;
    background-color: var(--colorMain);
}

/*------- Table Icons-------*/

.icon-button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.icon-button.bi-pencil-square {
    color: var(--colorMain);
}

.icon-button.bi-trash-fill {
    color: red;
}

.icon-button:hover {
    opacity: 0.7;
}


/* ------------------------------------------------- Login ---------------------------------------      */

.login-card{
    width: 480px;
    margin-top: 150px;
}

.manage-account-container{
    width: 720px;
    margin-top: 50px;
}
/* ------------------------------------------------- Facturation---------------------------------------      */
/*-------- Word Ballon-------*/
.custom-icon-btn {
    position: relative;
    display: inline-block;
}

/**/
#clientDataInput {
    font-size: 16px;
    color: #333;
    border: 2px solid transparent; /* Borde transparente */
    border-radius: 5px;
    outline: none; /* Elimina el resalte al estar en foco */
}

    #clientDataInput:focus {
        border: 2px solid transparent; /* Mantiene el borde transparente al enfocarse */
        box-shadow: none; /* Elimina cualquier sombra al enfocarse */
    }
.custom-icon-btn .custom-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.custom-icon-btn .custom-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.custom-icon-btn:hover .custom-tooltip {
    visibility: visible;
}

.custom-icon-btn .custom-tooltip {
    /* Propiedades existentes */
    transition: visibility 0.2s linear, opacity 0.2s linear;
    opacity: 0;
}

.custom-icon-btn:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}



/*------- Table Input-------*/
.table>tbody>tr.no-border>td,
.table>tbody>tr.no-border>th {
    border: none;
}


.w-15 {
    width: 15%;
}


.w-20{
    width: 20%;
}

.w-30 {
    width: 30%;
}

tr.rowHover:hover {
    background-color: var(--greyColor) !important;
    /* Asume el color de fondo original */
}

.editableCell {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 30px; /* Adjust as needed */

}

.editableCell:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.editableInput {
    width: 100%;
    display: none;
}


/*------- Modal-------*/
@keyframes customModalOpen {
    from {
        opacity: 0;
        transform: translateY(-100px);
        /* Start above its final position */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* End at its final position */
    }
}

.modal.fade .modal-dialog {
    animation: customModalOpen 0.5s forwards;
}

.circle {
    opacity: 0.3;
    width: 50px;
    /* Circle size */
    height: 50px;
    /* Circle size */
    border-radius: 50%;
    /* Make it round */
    background-color: var(--colorMain);
    /* Circle color */
    color: white;
    /* Text color */
    font-weight: bold;
    /* Text weight */
    font-size: 1.2rem;
    /* Text size */
}

/* Optional: Add media query for responsiveness */
@media (max-width: 576px) {
    .circle {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}

/* Add a class for the scrollable list */
.scrollable-list {
    max-height: 250px;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    /* Add a vertical scrollbar when the content overflows */

}

#modalClient .modal-dialog {
    max-width: 50%;
}
#addClient .modal-dialog {
    max-width: 80%;
}
/* ------------------------------------------------- Admin---------------------------------------      */
/*------- Search Input-------*/
.search-input {
    margin-right: 25px;
    width: 200px;
}

.search-input .input-group-text .bi-search {
    color: var(--colorMain);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.8em;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*------- Back Button-------*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(46%) sepia(88%) saturate(3393%) hue-rotate(166deg) brightness(102%) contrast(100%);
    transform: scale(1.8);    
}

.sort-icon {
    cursor: pointer;
}
.sort-icon:hover {
    color: #007bff; 
}

/*------- Back Button-------*/
.btn-custom {
    background-color: transparent;
    color: var(--colorMain);
    border: 1px solid var(--colorMain);    
}

.btn-custom:hover {
    background-color: var(--colorMainTrans); 
    color: var(--colorMain); 
}

.btn-custom .bi-arrow-left-short {
    color: inherit; 
}

.btn-custom .bi {        
    transform: scale(2.5);    
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.75rem;
    margin-bottom: -0.25rem;
}


/* ------------------------------------------------- Errow---------------------------------------      */
