@model Sistema_Inventario_Manitos_Maravillosas.Areas.AdminPayment.Models.BankAccount
@{
    var action = ViewData["Action"] as string;

}


<div class="card">
    <div class="card-body">

        <form id="bankAccountForm" asp-controller="BankAccount" asp-action="@(action == "Edit" ? "Edit" : "Create")" method="post">
            @Html.AntiForgeryToken()
            @if (action == "Create")
            {
                <!-- Fila 1: Número de Cuenta, Banco -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Número de Cuenta</label>
                        <input type="text" class="form-control" asp-for="AccountNumber" aria-label="Número de Cuenta">
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="IdBank" class="control-label mb-2">Banco</label>
                        <div class="select-wrapper">
                            <select asp-for="IdBank" class="form-control" asp-items="ViewBag.BankSelect">
                                <option disabled selected>Seleccione un Banco</option>
                            </select>
                        </div>
                        <span asp-validation-for="IdBank" class="text-danger"></span>
                    </div>
                </div>

                <!-- Fila 2: Moneda, Tipo de Pago -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="IdCoin" class="control-label mb-2">Moneda</label>
                        <div class="select-wrapper">
                            <select asp-for="IdCoin" class="form-control" asp-items="ViewBag.CoinSelect">
                                <option disabled selected>Seleccione una moneda</option>
                            </select>
                        </div>
                        <span asp-validation-for="IdCoin" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="IdTypePayment" class="control-label mb-2">Tipo de Pago</label>
                        <div class="select-wrapper">
                            <select asp-for="IdTypePayment" class="form-control" asp-items="ViewBag.TypePaymentSelect">
                                <option disabled selected>Seleccione un tipo de Pago</option>
                            </select>
                        </div>
                        <span asp-validation-for="IdTypePayment" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <!-- Fila 1: Identificación y Número de Cuenta -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Identificación</label>
                        <input type="text" class="form-control" asp-for="Id" aria-label="Identificación" disabled>
                        <input type="hidden" asp-for="Id">
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Número de Cuenta</label>
                        <input type="text" class="form-control" asp-for="AccountNumber" aria-label="Número de Cuenta">
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>

                </div>
                <!-- Fila 2: Banco y Descripción Moneda -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="IdBank" class="control-label mb-2">Banco</label>
                        <div class="select-wrapper">
                            <select asp-for="IdBank" class="form-control" asp-items="ViewBag.BankSelect">
                                <option disabled selected>Seleccione un Banco</option>
                            </select>
                        </div>
                        <span asp-validation-for="IdBank" class="text-danger"></span>
                    </div>
                </div>

                <!-- Fila 2: Moneda, Tipo de Pago -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="IdCoin" class="control-label mb-2">Moneda</label>
                        <div class="select-wrapper">
                            <select asp-for="IdCoin" class="form-control" asp-items="ViewBag.CoinSelect">
                                <option disabled selected>Seleccione una moneda</option>
                            </select>
                        </div>
                        <span asp-validation-for="IdCoin" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="IdTypePayment" class="control-label mb-2">Tipo de Pago</label>
                        <div class="select-wrapper">
                            <select asp-for="IdTypePayment" class="form-control" asp-items="ViewBag.TypePaymentSelect">
                                <option disabled selected>Seleccione un tipo de Pago</option>
                            </select>
                        </div>
                        <span asp-validation-for="IdTypePayment" class="text-danger"></span>
                    </div>
                </div>
            }           

            <!-- Botón de envío -->
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-primary">
                    @if (action == "Edit")
                    {
                        <span>Modificar <i class="bi bi-pencil-square"></i></span>
                    }
                    else
                    {
                        <span>Agregar <i class="bi bi-plus-circle"></i></span>
                    }
                </button>

            </div>
        </form>

    </div>
</div>
