@{
    ViewData["Title"] = "Reportes";
}
<section class="container px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Reportes</h3>

    <div class="row justify-content-between">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4 rounded">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-cash icon-75"></i>
                        </div>
                        <div class="col mr-2">
                            <div class="fs-6 mb-1 ">
                                Ventas (Mensual)
                            </div>
                            <div class="h5 mb-0 txt-blue">$40,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4 rounded">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-cart4 icon-75"></i>
                        </div>
                        <div class="col mr-2">
                            <div class="fs-6 mb-1 ">
                                Compras (Mensual)
                            </div>
                            <div class="h5 mb-0  txt-blue">$215,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4 rounded">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-coin icon-75"></i>
                        </div>
                        <div class="col mr-2">
                            <div class="fs-6 mb-1 ">
                                Ganancias (Mensual)
                            </div>
                            <div class="h5 mb-0  txt-blue">$215,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
