@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <p>Puedes cerrar esta página o ingresar al sistema haciendo click <a asp-area="" asp-controller="Home" asp-action="Index">aquí</a></p>
</div>