
@{
    ViewData["Title"] = "View PDF";
}

<section class="container-fluid content-page w-100 px-3 py3">
    <div class="d-flex justify-content-between mb-2 align-items-center">
        <h3 class="m-0">Cobrar Factura</h3>
        <a class="fs-3 px-1" asp-area="Facturation" asp-controller="Purchase" asp-action="Index">
            <i class="bi bi-chevron-left"></i>
        </a>
    </div>
    <div class="row">
        <div class="pdfViewer pb-2 col-6">
            <div class="pdfController d-flex justify-content-between px-2 py-1 mb-2">
                <div class="pdfControllerPage">
                    <button id="pageUp-button" class="pdf-IconButton p-1"><i class="bi bi-chevron-up"></i></button>
                    <button id="pageDown-button" class="pdf-IconButton p-1"><i class="bi bi-chevron-down"></i></button>
                    <span class="text-white">Page 1</span>
                </div>
                <div class="pdfControllersZoom">
                    <button id="minusPlus-button" class="pdf-IconButton p-1"><i class="bi bi-dash"></i></button>
                    <button id="zoomPlus-button" class="pdf-IconButton p-1"><i class="bi bi-plus-lg"></i></button>
                    <span class="text-white">100%</span>
                </div>
                <div class="pdfControllerButtons">

                    <button id="download-button" class="pdf-IconButton p-1"><i class="bi bi-printer"></i></button>
                    <button id="download-button" class="pdf-IconButton p-1"><i class="bi bi-download"></i></button>
                </div>
            </div>

            <div class="d-flex justify-content-center mb-2">
                <canvas id="pdf-canvas" class="justify-content-center"></canvas>
            </div>
        </div>

        <div class="col-6" >
            <h5>
                Gestión de Cobro
            </h5>


        </div>
    </div>
</section>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script>
        var pdfUrl = '@Url.Action("GeneratePdf", "PurchaseConfiguration", new { area = "Facturation" })';
    </script>
    <script src="~/js/facturation/pdfscript.js"></script>

}
