@model Sistema_Inventario_Manitos_Maravillosas.Areas.Admin.Models.Employee
@{
    var action = ViewData["Action"] as string;
}

<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-custom" onclick="location.href='@Url.Action("Index", "Employee", new { area = "Admin" })'">
            <span> <i class="bi bi-arrow-left-short"></i></span>
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <form id="employeeForm" asp-controller="Employee" asp-action="@(action == "Edit" ? "Edit" : "Create")" method="post">
            @Html.AntiForgeryToken()
            <!-- Fila 1: Identificación, Nombre -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Identificación</label>
                    @if (action == "Edit")
                    {
                        <input type="text" class="form-control" asp-for="IdEmployee" aria-label="Identificación" disabled>
                        <input type="hidden" asp-for="IdEmployee">
                    }
                    else
                    {
                        <input type="text" class="form-control" asp-for="IdEmployee" aria-label="Identificación">
                    }

                    <span asp-validation-for="IdEmployee" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Name" aria-label="Nombre">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <!-- Fila 2: Primer Apellido, Segundo Apellido -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="LastName1" aria-label="Primer Apellido">
                    <span asp-validation-for="LastName1" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="LastName2" aria-label="Segundo Apellido">
                    <span asp-validation-for="LastName2" class="text-danger"></span>
                </div>
            </div>
            <!-- Fila 3: Correo, Número de Contacto -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Posición</label>
                    <input type="text" class="form-control" asp-for="Position" aria-label="Correo">
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Número de Contacto</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber" aria-label="Número de Contacto">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <!-- Fila 3: Businees, Email -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="BusinessName" class="control-label mb-2">Negocio</label>
                    <div class="select-wrapper">
                        <select asp-for="BusinessName" class="form-control" asp-items="ViewBag.BusinessNames">
                            <option value="">Seleccione un negocio</option>
                        </select>
                    </div>
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Email" class="control-label mb-2">Correo Electrónico</label>
                    <input type="email" class="form-control" asp-for="Email" aria-label="Correo electrónico">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <!-- Fila 4: Roles -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Role" class="control-label mb-2">Negocio</label>
                    <div class="select-wrapper">
                        <select asp-for="Role" class="form-control" asp-items="ViewBag.RoleNames">
                            <option value="">Seleccione un Rol</option>
                        </select>
                    </div>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <!-- Botón de envío y volver -->
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-primary">
                    @if (action == "Edit")
                    {
                        <span>Modificar <i class="bi bi-pencil-square"></i></span>
                    }
                    else
                    {
                        <span>Agregar <i class="bi bi-plus-circle"></i></span>
                    }
                </button>

            </div>
        </form>

    </div>
</div>