@model Sistema_Inventario_Manitos_Maravillosas.Areas.Supplier.Models.Provider
@{
    var action = ViewData["Action"] as string;
}

<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-custom" onclick="location.href='@Url.Action("Index", "Provider", new { area = "Supplier" })'">
            <span> <i class="bi bi-arrow-left-short"></i></span>
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <form id="providerForm" asp-controller="Provider" asp-action="@(action == "Edit" ? "Edit" : "Create")" method="post">
            @Html.AntiForgeryToken()
            <!-- Fila 1: Identificación y/o Nombre -->
            <div class="row mb-3">
                @if (action == "Create")
                {
                    <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" asp-for="Name" aria-label="Nombre">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <label class="form-label">Identificación</label>
                        <input type="text" class="form-control" asp-for="Id" aria-label="Identificación" disabled>
                        <input type="hidden" asp-for="Id">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" asp-for="Name" aria-label="Nombre">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                }                
            </div>
            <!-- Fila 2: Número de Contacto, Descripción -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Número de Contacto</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber" aria-label="Número de Contacto">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Descripción</label>
                    <input type="text" class="form-control" asp-for="Description" aria-label="Descripción">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <!-- Botón de envío -->
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-primary">
                    @if (action == "Edit")
                    {
                        <span>Modificar <i class="bi bi-pencil-square"></i></span>
                    }
                    else
                    {
                        <span>Agregar <i class="bi bi-plus-circle"></i></span>
                    }
                </button>

            </div>
        </form>

    </div>
</div>
