@model Sistema_Inventario_Manitos_Maravillosas.Areas.Inventory.Models.Product
@{
    var action = ViewData["Action"] as string;
}

<div class="card">
    <div class="card-body d-flex justify-content-between">
        @if (action == "Edit")
        {
            <button type="button" class="btn btn-custom" onclick="location.href='@Url.Action("Index", "Product", new { area = "Inventory" })'">
                <span> <i class="bi bi-arrow-left-short"></i></span>
            </button>
        }
        else
        {
            <button type="button" class="btn btn-custom" onclick="location.href='@Url.Action("Index", "Product", new { area = "Inventory" })'">
                <span> <i class="bi bi-arrow-left-short"></i></span>
            </button>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="toggleInputs()">
                <label class="form-check-label" for="flexSwitchCheckDefault">Habilitar Campos</label>
            </div>
        }        
    </div>

</div>

<div class="card">
    <div class="card-body">
        
        <form id="productForm" asp-controller="Product" asp-action="@(action == "Edit" ? "Edit" : "Create")" method="post">
            @Html.AntiForgeryToken()
            <!-- Fila 1: Código, Nombre -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Código del producto</label>
                    @if (action == "Edit")
                    {
                        <input type="text" class="form-control" asp-for="IdProduct" aria-label="Código del producto" disabled>
                        <input type="hidden" asp-for="IdProduct">
                    }
                    else
                    {
                        <input type="text" class="form-control" asp-for="IdProduct" aria-label="Código del producto">
                    }

                    <span asp-validation-for="IdProduct" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nombre del producto</label>
                    <input type="text" class="form-control" asp-for="ProductName" aria-label="Nombre del producto">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
            <!-- Fila 2: Categoria, Descripcion -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="ProductCategory" class="control-label mb-2">Categoria</label>
                    <div class="select-wrapper">
                        <select asp-for="ProductCategory" class="form-control" asp-items="ViewBag.ProductCategories">
                            <option value="">Seleccione una categoria</option>
                        </select>
                    </div>
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
                </div>
                
                <div class="col-md-6">
                    <label class="form-label">Descripción</label>
                    <input type="text" class="form-control" asp-for="Description" aria-label="Descripción">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <!-- Fila 3: Negocio, Estado -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="BusinessName" class="control-label mb-2">Negocio</label>
                    <div class="select-wrapper">
                        <select asp-for="BusinessName" class="form-control" asp-items="ViewBag.BusinessNames">
                            <option value="">Seleccione un negocio</option>
                        </select>
                    </div>
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>
                
                <div class="col-md-6">
                    <label asp-for="Status" class="control-label mb-2">Estado</label>
                    <div class="select-wrapper">
                        <select asp-for="Status" class="form-control">
                            <option value="True">Activo</option>
                            <option value="False">Inactivo</option>
                        </select>
                    </div>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <!-- Fila 3: Stock, Costo -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div id="stockContainer" style="display: none;">
                        <label class="form-label">Stock</label>
                        <input type="number" class="form-control" id="stockInput" asp-for="Stock" aria-label="Stock" value="0">
                    </div>
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <div id="costContainer" style="display: none;">
                        <label class="form-label">Costo</label>
                        <input type="number" class="form-control" id="costInput" asp-for="Cost" aria-label="Costo" value="0">
                    </div>
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                
            </div>
            <!-- Fila 4: Precio -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div id="priceContainer" style="display: none;">
                        <label class="form-label">Precio</label>
                        <input type="number" class="form-control" id="priceInput" asp-for="Price" aria-label="Precio" value="0">
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                
            </div>

            <!-- Botón de envío -->
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-primary">
                    @if (action == "Edit")
                    {
                        <span>Modificar <i class="bi bi-pencil-square"></i></span>
                    }
                    else
                    {
                        <span>Agregar <i class="bi bi-plus-circle"></i></span>
                    }
                </button>

            </div>
        </form>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        toggleInputs(); // Establece el estado inicial de los campos.
    });

    function toggleInputs() {
        var isChecked = document.getElementById('flexSwitchCheckDefault').checked;
        var stockContainer = document.getElementById('stockContainer');
        var costContainer = document.getElementById('costContainer');
        var priceContainer = document.getElementById('priceContainer');

        if (isChecked) {
            // Muestra los contenedores
            stockContainer.style.display = '';
            costContainer.style.display = '';
            priceContainer.style.display = '';
        } else {
            // Oculta los contenedores y establece los valores de los inputs en 0
            stockContainer.style.display = 'none';
            costContainer.style.display = 'none';
            priceContainer.style.display = 'none';

            document.getElementById('stockInput').value = 0;
            document.getElementById('costInput').value = 0;
            document.getElementById('priceInput').value = 0;
        }
    }
</script>

