@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<section class="d-flex align-items-center  justify-content-center">
    <div class="text-center px-5">

        <div class="fw-bold text-danger fs-1">
            <i class="bi bi-exclamation-circle icono-grande"></i>
        </div>
        <h4 class="fw-bold">!Lo Sentimos!</h4>
        <h4 class="">Se ha presentado un error inesperado</h4>

        <p class="fw-light" >
            Por favor vuelva a intentarlo más tarde o reporte el error a <span class="fw-bold">ferkssoporte@gmail.com.</span>

        </p>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" >Ir al inicio</a>
    </div>

    <style>
        .icono-grande {
            font-size: 5rem; /* Ajusta este valor según tus necesidades */
        }
    </style>

</section>